<%- include('header') -%>
<body style="background-color: #f1faee;">
<%- include('navbar') -%>

<div class="loggy-formy">
<h1>Log in</h1>
<div class="divider"></div>
<form action="/login" method="post">
  <section>
    <label for="username">Username: </label>
    <input type="text" name="username" id="username" placeholder="Username" />
  </section>
  <section>
    <label for="password">Password:  </label>
    <input type="password" name="password" id="password" placeholder="Password" />
  </section>
  <section>
    <button type="submit" class="main-button">Log in</button>
  </section>
</form>
<a class="redirector" href="/signup">Not signed up yet? Click here.</a>
</div>
</body>
</html>
