.main-button:focus,
.main-button:active,
.main-button.active,
.main-button:focus:active {
  background-image: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#start-button:focus,
#start-button:active,
#start-button.active,
#start-button:focus:active {
  background-image: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.main-button {
  border-radius: 10px;
  height: 40px;
  border-style: none;
  background-color: #f1faee;
  color: #1d3557;
  font-size: larger;
  cursor: pointer;
  padding: 4px;
  overflow: hidden;
}

#start-button {
  position: fixed;
  font-size: 64px;
  width: 200px;
  height: 100px;
  z-index: 100;
  top: calc(50% - 50px);
  left: 50%;
  margin-left: -100px;
  background-color: #e63946;
  color: #f1faee;
  border-style: ridge;
  border-color: rgb(70, 123, 157);
  transition: background-color 0.1s ease-in;
  animation-name: warble;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes warble {
  0% {
    font-size: 60px;
  }
  50% {
    font-size: 68px;
  }
  100% {
    font-size: 60px;
  }
}

#mondai-button {
  width: 130px;
}
#select-study-set-butt {
  min-width: 72px;
  overflow: hidden;
}
