#canvas {
  touch-action: none;
  right: 5%;
  left: 5%;
  position: fixed;
  top: 70px;
  bottom: 60px;
  background-color: #a8dadc;
  border-radius: 16px;
  cursor: url('../assets/fude-cursor.png'), auto;
  border-style: solid;
  border-color: rgb(70, 123, 157);
  box-shadow: 3px 6px rgba(100, 100, 100, 0.3);
}
#stats {
  background-color: transparent;
  position: fixed;
  color: #1d3557;
  text-align: right;
  display: none;
  top: 80px;
  right: 6%;
  width: stretch;
  z-index: 3;
}

@media only screen and (max-width: 400px) {
  #stats {
    font-size: 12px;
    width: stretch;
  }
}
