#create-new-set {
  position: absolute;
  border-color: rgb(70, 123, 157);
  border-style: solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #1d3557;
  background-color: #a8dadc;
  padding: 16px;
  overflow: auto;
  top: 10px;
  left: 10px;
  right: 10px;
  overflow: auto;
}
#create-new-set input {
  background-color: #f1faee;
  color: #1d3557;
  border-radius: 10px;
}

#create-new-buttons {
  position: sticky;
  display: flex;
  justify-content: space-around;
  bottom: -20px;
  margin-top: 10px;
  width: 100%;
  padding: 5px;
  background-color: #a8dadc;
}

#create-new-buttons button {
  width: 120px;
}

#create-new-buttons .nav-button {
  width: 120px;
  margin: 0px;
  margin-left: -10px;
  padding: 5px;
}
@media only screen and (max-width: 248px) {
  #create-new-set {
    font-size: 8px;
  }
  #create-new-set input {
    width: 30px;
  }
  #create-new-buttons button {
    width: 30px;
    font-size: 8px;
  }

  #create-new-buttons .nav-button {
    width: 30px;
    font-size: 8px;
  }
}

@media only screen and (max-width: 339px) and (min-width: 248px) {
  #create-new-set {
    font-size: 12px;
  }
  #create-new-set input {
    width: 50px;
  }
  #create-new-buttons button {
    width: 50px;
    font-size: 12px;
  }

  #create-new-buttons .nav-button {
    width: 50px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 419px) and (min-width: 340px) {
  #create-new-set input {
    width: 80px;
  }
  #create-new-buttons button {
    width: 80px;
    font-size: 18px;
  }

  #create-new-buttons .nav-button {
    width: 80px;
    font-size: 18px;
  }
}
@media only screen and (max-width: 545px) and (min-width: 420px) {
  #create-new-set input {
    width: 100px;
  }
  #create-new-buttons button {
    width: 80px;
  }

  #create-new-buttons .nav-button {
    width: 80px;
  }
}
@media only screen and (max-width: 700px) and (min-width: 546px) {
  #create-new-set input {
    width: 150px;
  }
}
@media only screen and (min-width: 701px) {
  #create-new-set input {
    width: 200px;
  }
}

@media only screen and (max-height: 299px) {
  #create-new-set {
    height: unset;
    position: fixed;
    font-size: 12px;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
@media only screen and (max-height: 449px) and (min-height: 300px) {
  #create-new-set {
    height: 60vh;
  }
}

@media only screen and (max-height: 600px) and (min-height: 450px) {
  #create-new-set {
    height: 70vh;
  }
}

/*
@media (orientation: portrait) {
  #create-new-set {
    height: 400px;
    width: 300px;
    margin-left: -170px;
  }
  #create-new-set input {
    width: 90px;
  }
}

@media only screen and (max-height: 600px) and (min-height: 450px) {
  #create-new-set {
    height: 300px;
  }
}

*/
