.edit-main {
  background-color: #f1faee;
  height: calc(100vh - 60px);
  width: 100vw;
  position: absolute;
}
#set-selector-window {
  border-color: rgb(70, 123, 157);
  border-style: solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  color: #1d3557;
  background-color: #a8dadc;
  height: 400px;
  width: 300px;
  padding: 16px;
  overflow: auto;
  top: 10%;
  left: 50%;
  margin-left: -168px;
}

#set-selector-window ul {
  padding: 0px;
}

#set-selector-window li {
  margin: 10px;
}

#set-title {
  text-align: center;
}

.window-title {
  position: sticky;
  top: -20px;
  width: 100%;
  background-color: #a8dadc;
}

.divider {
  background-color: #f1faee;
  width: 100%;
  height: 3px;
  border-radius: 50%;
  transition: width 0.5s ease-in;
  margin-top: 10px;
  margin-bottom: 10px;
}

#set-editor {
  position: relative;
  display: none;
  border-style: solid;
  flex-direction: column;
  border-color: rgb(70, 123, 157);
  background-color: #a8dadc;
  color: #1d3557;
  border-radius: 10px;
  width: 90vw;
  height: 70vh;
  top: 10px;
  margin-left: 5vw;
  align-items: center;
  overflow: auto;
}

.editor-buttons {
  position: sticky;
  display: flex;
  justify-content: center;
  bottom: 0;
  background-color: #a8dadc;
  width: 100%;
}
.editor-buttons button {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  height: 50px;
  width: 150px;
  overflow: hide;
}

.editor-buttons a {
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  width: 150px;
  height: 38px;
  text-align: center;
  padding: 0px;
  padding-top: 12px;
}

#set-editor input {
  background-color: #f1faee;
  color: #1d3557;
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  .edit-main h1 {
    font-size: 16px;
  }
  #set-editor input {
    width: 75px;
  }
  #set-selector-window {
    width: 200px;
    margin-left: -120px;
  }
}
@media only screen and (max-width: 350px) {
  #set-editor input {
    width: 45px;
  }
}
@media only screen and (max-width: 250px) {
  #set-selector-window {
    width: 150px;
    margin-left: -95px;
  }
  #set-editor input {
    width: 30px;
  }
  #set-editor {
    font-size: 12px;
  }
  .editor-buttons {
    font-size: 8px;
  }
}
@media only screen and (max-width: 205px) {
  #set-editor input {
    width: 25px;
  }
  #set-editor {
    font-size: 8px;
  }
}

@media (orientation: portrait) {
  #set-selector-window {
    height: 400px;
  }
}

@media only screen and (max-height: 284px) {
  #set-editor {
    top: 0px;
  }
  #set-selector-window {
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: unset;
    width: unset;
    height: unset;
  }
  .editor-buttons {
    font-size: 8px;
    bottom: -10px;
  }
}
@media only screen and (max-height: 349px) and (min-height: 285px) {
  #set-selector-window {
    height: 150px;
  }
  .editor-buttons {
    font-size: 10px;
  }
}

@media only screen and (max-height: 499px) and (min-height: 350px) {
  #set-selector-window {
    height: 200px;
  }
}

@media only screen and (max-height: 700px) and (min-height: 500px) {
  #set-selector-window {
    height: 60%;
  }
}

@media only screen and (min-height: 701px) {
  #set-selector-window {
    height: 80%;
  }
}
