.loggy-formy {
  position: fixed;
  border-style: solid;
  border-color: rgb(70, 123, 157);
  background-color: #a8dadc;
  color: #1d3557;
  border-radius: 10px;
  width: 220px;
  padding: 10px;
  top: 60px;
  left: 50%;
  margin-left: -122px;
  overflow: auto;
}

.loggy-formy input {
  background-color: #f1faee;
  color: #1d3557;
  border-radius: 10px;
  width: 200px;
  margin: 10px;
}
.loggy-formy a {
  color: var(--nav-color);
}
.loggy-formy button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.loggy-form label {
  width: 200px;
}

.redirector {
  text-decoration: none;
  color: #1d3557;
}

@media only screen and (max-height: 399px) {
  .loggy-formy {
    width: 220px;

    bottom: 0;
  }
}
@media only screen and (min-height: 400px) {
  .loggy-formy {
    top: 20%;
  }
}

@media only screen and (max-width: 270px) {
  .loggy-formy {
    right: 0px;
    left: 0;
    width: unset;
    margin-left: 0px;
  }
  .loggy-formy input {
    width: 100px;
  }
}
