@keyframes attention {
  0% {
    opacity: 0;
    color: #f1faee;
  }
  10% {
  }
  20% {
    color: #1d3557;
    opacity: 1;
  }

  40% {
    color: #f1faee;
  }

  60% {
    color: #1d3557;
  }

  80% {
    color: #f1faee;
  }

  100% {
    opacity: 0;
    color: #f1faee;
  }
}

@keyframes video-hint {
  0% {
    opacity: 1;
    transform: translateY(100px);
  }
  15% {
    transform: translateY(0px);
  }
  30% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(100px);
  }
}
#video-hint {
  position: fixed;
  pointer-events: none;
  z-index: 10000;
  background-color: rgba(40, 40, 40, 0.3);
  color: #f1faee;
  border-radius: 10px;
  bottom: 60px;
  left: 10px;
  right: 10px;
  font-weight: 900;
  opacity: 0;
  animation-duration: 11s;
  text-align: center;
  font-size: 18px;
}
@media only screen and (max-height: 390px) {
  #video-hint {
    bottom: 0px;
  }
}
@media only screen and (min-width: 730px) {
  #video-hint {
    font-size: 32px;
  }
}
@media only screen and (min-width: 549px) and (max-width: 729px) {
  #video-hint {
    font-size: 24px;
  }
}
@media screen and (orientation: portrait) {
  #video-hint {
    bottom: 0px;
    left: 0;
    right: 0;
    height: 15vh;
    border-radius: 0px;
    background-color: var(--nav-color);
  }
}

#attention-getter {
  position: fixed;
  background-color: rgba(40, 40, 40, 0.3);
  color: #f1faee;
  pointer-events: none;
  z-index: 10000;
  border-radius: 50%;
  width: 140px;
  height: 50px;
  text-align: center;
  padding-top: 20px;
  font-size: 22px;
  bottom: 95px;
  left: 20px;
  font-weight: 900;
  animation-duration: 5s;
  opacity: 0;
}
#question-hand {
  position: relative;
  left: -20px;
  top: 20px;
  font-size: 42px;
  transform: rotate(110deg);
}
#hints {
  position: fixed;
  border-radius: 50%;
  background-color: rgba(40, 40, 40, 0.3);
  color: #f1faee;
  width: 200px;
  height: 150px;
  text-align: center;
  z-index: 100;
  /*
  top: calc(var(--vh, 1vh) * 65);
  */
  bottom: 75px;
  left: 15px;
  font-size: 28px;
  opacity: 0;
  pointer-events: none;
  animation-duration: 11s;
}

#point-hand {
  position: relative;
  left: 70px;
  top: -65px;
  font-size: 42px;
  transform: rotate(-40deg);
}
@media (orientation: portrait) {
  #point-hand {
    transform: rotate(-70deg);
  }
}
#point-down {
  position: relative;
  left: -45px;
  top: -65px;
  font-size: 42px;
  transform: rotate(115deg);
}
@keyframes grow {
  0% {
    width: 0px;
    height: 0px;

    opacity: 0;
  }
  20% {
    width: 200px;
    height: 150px;

    opacity: 1;
  }
  95% {
    opacity: 0;
    bottom: 100px;
  }
  100% {
    bottom: -500px;
  }
}
/*
@media (orientation: landscape) {
  #hints {
    top: calc(var(--vh, 1vh) * 50);
  }
}

*/
