@keyframes attention {
  0% {
    opacity: 0;
    color: #f1faee;
  }
  10% {
  }
  20% {
    color: #1d3557;
    opacity: 1;
  }

  40% {
    color: #f1faee;
  }

  60% {
    color: #1d3557;
  }

  80% {
    color: #f1faee;
  }

  100% {
    opacity: 0;
    color: #f1faee;
  }
}

#attention-getter {
  position: fixed;
  background-color: rgba(40, 40, 40, 0.3);
  color: #f1faee;
  pointer-events: none;
  z-index: 10000;
  border-radius: 50%;
  width: 140px;
  height: 50px;
  text-align: center;
  padding-top: 20px;
  font-size: 22px;
  bottom: 95px;
  left: 20px;
  font-weight: 900;
  animation-duration: 5s;
  opacity: 0;
}
#question-hand {
  position: relative;
  left: -20px;
  top: 20px;
  font-size: 42px;
  transform: rotate(110deg);
}
#hints {
  position: fixed;
  border-radius: 50%;
  background-color: rgba(40, 40, 40, 0.3);
  color: #f1faee;
  width: 100px;
  height: 100px;
  text-align: center;
  z-index: 100;
  /*
  top: calc(var(--vh, 1vh) * 65);
  */
  bottom: 100px;
  left: 30px;
  font-size: 18px;
  opacity: 0;
  pointer-events: none;
  animation-duration: 9s;
}

#point-hand {
  position: relative;
  left: 50px;
  top: -55px;
  font-size: 42px;
  transform: rotate(-30deg);
}
#point-down {
  position: relative;
  left: -20px;
  top: -60px;
  font-size: 42px;
  transform: rotate(110deg);
}
@keyframes grow {
  0% {
    font-size: 0px;
    opacity: 0;
  }
  20% {
    font-size: 18px;
    opacity: 1;
  }
  95% {
    opacity: 0;
    bottom: 100px;
  }
  100% {
    bottom: -500px;
  }
}
/*
@media (orientation: landscape) {
  #hints {
    top: calc(var(--vh, 1vh) * 50);
  }
}

*/
