@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#study-set-selector {
  z-index: 150;
  position: fixed;
  display: none;
  top: 75px;
  left: 20px;
  right: 20px;
  height: calc(100vh - 140px);
  background-color: #a8dadc;
  border-style: ridge;
  border-color: rgb(70, 123, 157);
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  border-radius: 10px;
  border-style: ridge;
  animation: fadeIn 0.5s;
}

.set-selector {
  margin: 10px;
}

#set-selector-closer {
  background-color: transparent;
  position: sticky;
  color: #f1faee;

  top: 8px;
  left: 85%;
  cursor: pointer;
  border-style: none;
  font-size: 24px;
}

#set-selector-closer:hover {
  color: rgb(70, 123, 157);
  font-size: 28px;
  transition: color 0.3s, font-size 0.3s;
}

.list-seperate {
  width: 90%;
  height: 2px;
  background-color: #f1faee;
  border-radius: 50%;
}
