<%- include('header') -%>
<body style="background-color: #f1faee;">
<%- include('navbar') -%>
<div id="about">
    <p id="about-text">Thank you for using Kanjikakikikai. (Try saying that five times quickly!)<br><br>
    Kanjikakikikai is a 100% free and open-source learning-aid designed to help those interested in learning how to write Japanese kanji.
    Signing up allows you to store your own personal study-sets in our database. We do not store and will never ask you for any personal information.<br><br>
For the best user experience we recommend installing this app on your mobile device's homescreen. You can do so <a href="/">here.</a>
<br><br>    
If you are interested in contributing to the development of Kanjikakikikai please visit <a href="https://github.com/HatAndBread/kanji-game" style="text-decoration: none;"> our Github repository</a> to make a pull request. 

</p>
</div>
</body>
</html>