<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('header')%>
  </head>
  <body>
    <button id="create-new-butt" class="main-button">Create new study set</button>
    <div id="create-new-set">
      <form action="/add-words" method="POST">
        <table id="new-word-table">
          <tr>
            <label for="dictionary-title">Name of study set: </label>
            <input type="text" name="dictionary-title" id="dictionary-title" />
          </tr>
          <tr>
            <th>かんじ</th>
            <th>よみかた</th>
          </tr>
          <tr>
            <td><input type="text" name="kanji-input" id="kanji-input" required /></td>
            <td><input type="text" name="yomikata-input" id="yomikata-input" required /></td>
          </tr>
        </table>
        <button id="add-another-word-butt" class="main-button" type="button">Add another word</button>
        <button id="save-new-study-set-butt" class="main-button" type="submit">Save new study set</button>
      </form>
    </div>
  </body>
  <script>
    const addAnotherWordButt = document.getElementById('add-another-word-butt');
    const table = document.getElementById('new-word-table');
    const editButt = document.getElementById('edit-study-butt');

    addAnotherWordButt.addEventListener('click', () => {
      const newRow = document.createElement('tr');
      const newWord = document.createElement('td');
      const newDef = document.createElement('td');
      const kanjiInput = document.createElement('input');
      const yomikataInput = document.createElement('input');
      kanjiInput.type = 'text';
      yomikataInput.type = 'text';
      kanjiInput.name = 'kanji-input';
      yomikataInput.name = 'yomikata-input';
      kanjiInput.id = 'kanji-input';
      yomikataInput.id = 'yomikata-input';
      kanjiInput.required = true;
      yomikataInput.required = true;
      newWord.appendChild(kanjiInput);
      newDef.appendChild(yomikataInput);
      newRow.appendChild(newWord);
      newRow.appendChild(newDef);
      table.appendChild(newRow);
    });
  </script>
</html>
