<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('header')%>
    <script src="./edit-sets-script.js" defer></script>
  </head>
  <body>
    <h1>Select a set to edit</h1>
    <ul>
      <% for (let i = 0; i < sets.length; i++){ %>
      <div class="set-card">
        <li class="set-title">
          <button type="button" class="main-button set-edit-butt" value="<%=sets[i].title%>">
            <%= sets[i].title%>
          </button>
        </li>
      </div>
      <% } %>
    </ul>
    <div id="set-editor">
      <h1 id="set-title"></h1>
      <ul id="edit-word-list"></ul>
      <table id="edit-table">
        <tr>
          <th>かんじ</th>
          <th>よみかた</th>
        </tr>
      </table>
      <button id="add-word-butt" class="main-button" type="button">Add another word</button>
      <button id="save-changes-butt" class="main-button" type="submit">Save changes</button>
    </div>
  </body>
</html>
