
    <%- include('header')%>
  <body>
    <%- include('navbar')-%>
    <div class="edit-main">
      <div id="set-selector-window">
        <div class="window-title">
    <h1>Select a set to edit</h1>
    <div class="divider"></div>
    </div>
    <ul>
      <% for (let i = 0; i < sets.length; i++){ %>
      <div class="set-card">
        <li class="set-title">
          <button type="button" class="main-button set-edit-butt" value="<%=sets[i].title%>">
            <%= sets[i].title%>
          </button>
        </li>
      </div>
      <% } %>
    </ul>
    </div>
    <div id="set-editor">
      <div id="window-title">
      <h1 id="set-title"></h1>
      <div class="divider"></div>
      </div>
      <ul id="edit-word-list"></ul>
      <table id="edit-table">
        <tr>
          <th>かんじ</th>
          <th>よみかた</th>
          <th>Definition</th>
        </tr>
      </table>
      <div class="editor-buttons">
        <a href="/" class="main-button">Cancel</a>
      <button id="add-word-butt" class="main-button" type="button">Add new word</button>
      <button id="save-changes-butt" class="main-button" type="submit">Save changes</button>
      </div>
    </div>
    

    </div>
  </body>
</html>
 <script src="./edit-sets-script.js"></script>
