<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('header')%>
    <script src="p5.min.js"></script>
    <script src="main.js" defer></script>
  </head>

  <body>
    <div id="nav-bar">
      <input id="keshi" type="image" src="./assets/keshi.png" alt="ERASE" />

      <div id="brush-div">
        <label for="brush-size" id="brush-label">
          <img src="./assets/fude.png" alt="Brush size: " id="brush-image" />Brush-size</label
        >
        <input id="brush-size" type="range" name="brush-size" min="1" max="30" step="1" value="5" />
      </div>
      <div>
        <button id="select-study-set-butt" class="main-button" style="position: relative;">Select study set</button>
      </div>
      <div id="study-set-selector">
        <button id="set-selector-closer">✕</button>
        <ul>
          <% if (userInfo){ for (let i = 0; i < userInfo.myDictionaries.length; i++){%>
          <li>
            <button value="<%= userInfo.myDictionaries[i].title%>" class="main-button set-selector">
              <%= userInfo.myDictionaries[i].title%>
            </button>
          </li>
          <% }} %>
          <li>
            <button userDefined="false" value="random-kanji" class="main-button set-selector">Random Kanji</button>
          </li>
          <li><button userDefined="false" value="jlpt1" class="main-button set-selector">JLPT1</button></li>
          <li><button userDefined="false" value="jlpt2" class="main-button set-selector">JLPT2</button></li>
          <li><button userDefined="false" value="jlpt3" class="main-button set-selector">JLPT3</button></li>
          <li><button userDefined="false" value="jlpt4" class="main-button set-selector">JLPT4</button></li>
          <li><button userDefined="false" value="jlpt5" class="main-button set-selector">JLPT5</button></li>
        </ul>
      </div>
      <div id="big-mac">
        <div class="slice"></div>
        <div class="slice"></div>
        <div class="slice"></div>
      </div>
      <div id="tools">
        <button id="tools-closer">✕</button>
        <% if (!userInfo){%>
        <a href="/login" class="nav-button">Log in</a>
        <a href="/signup" class="nav-button">Sign up</a>
        <%}else{%>
        <a href="/logout" class="nav-button">Log out</a>
        <a href="/add-words" class="nav-button">Make new study sets</a>
        <a href="/edit-sets" class="nav-button">Edit my study sets</a>
        <%}%>
        <a href="/settings" class="nav-button">Settings</a>
        <a href="/about" class="nav-button">About</a>
      </div>
    </div>
    <div style="position: fixed; left: 10px; top: 60px;">
      <p>Welcome, <%if (userInfo){%> <%=userInfo.username%>! <% }else{ %>stranger<%}%></p>
    </div>
    <div id="background">
      <div id="main">
        <div id="canvas"></div>
        <div id="stats">Stats: 100% correct</div>
        <div id="bottom">
          <button id="mondai-button" class="main-button">もんだい</button>
          <p id="mondai"></p>
          <button id="maru" class="maru-batsu">⭕️</button>
          <button id="batsu" class="maru-batsu">❌</button>
        </div>
        <div id="check-answer"></div>
      </div>
    </div>
  </body>
</html>
