<link rel="stylesheet" href="style.css" />
<link href="https://fonts.googleapis.com/css2?family=Dosis&family=Kosugi+Maru&display=swap" rel="stylesheet" />
<script src="p5.min.js"></script>
<script src="main.js" defer></script>
<div id="nav-bar">
  <div id="bar-stuff">
    <input id="keshi" type="image" src="./assets/keshi.png" alt="ERASE" class="bar-stuff-item" />

    <div id="brush-div" class="bar-stuff-item">
      <label for="brush-size" id="brush-label"
        ><img src="./assets/fude.png" alt="Brush size: " id="brush-image" />Brush-size</label
      >
      <input id="brush-size" type="range" name="brush-size" min="1" max="30" step="1" value="5" />
    </div>
    <select id="set-menu" class="bar-stuff-item">
      <option value="0">Select study set</option>
      <option value="jlpt4">JLPT4</option>
      <option value="jlpt3">JLPT3</option>
      <option value="jlpt2">JLPT2</option>
      <option value="jlpt1">JLPT1</option>
      <option value="random">Random kanji</option>
    </select>
  </div>
  <div id="big-mac">
    <div class="slice"></div>
    <div class="slice"></div>
    <div class="slice"></div>
  </div>
  <div id="tools">
    <button id="tools-closer">✕</button>
    <a href="/login" class="nav-button">Log in</a>
    <a href="/signup" class="nav-button">Sign up</a>
    <a href="/settings" class="nav-button">Settings</a>
    <a href="/about" class="nav-button">About</a>
  </div>
</div>

<div id="background">
  <div id="main">
    <div id="canvas"></div>
    <div id="stats">Stats: 100% correct</div>
    <div id="bottom">
      <button id="mondai-button" class="main-button">もんだい</button>
      <p id="mondai"></p>
      <button id="maru" class="maru-batsu">⭕️</button>
      <button id="batsu" class="maru-batsu">❌</button>
    </div>
  </div>
</div>
