<link rel="stylesheet" href="style.css" />
<link href="https://fonts.googleapis.com/css2?family=Dosis&family=Kosugi+Maru&display=swap" rel="stylesheet" />
<h1>Sign up</h1>
<form action="/signup" method="post">
  <label for="username">Username: </label>
  <input type="text" name="username" id="username" placeholder="Username" />
  <label for="password" placeholder="Password">Password: </label>
  <input type="password" name="password" id="password" />
  <button type="submit">Sign up</button>
</form>
