#about {
  position: fixed;
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(70, 123, 157);
  color: #1d3557;
  background-color: #a8dadc;
  margin-right: 10vw;
  margin-left: 10vw;
  margin-top: 10vh;
  height: 40%;
  padding: 16px;
  overflow: auto;
}

#about a {
  color: var(--nav-color);
  text-decoration: none;
  font-weight: bolder;
}
/*
@media (orientation: portrait) {
  #about {
    top: 25%;
  }
}

@media (orientation: landscape) {
  #about {
    top: 30%;
    height: 40%;
  }
}
*/
