#about {
  position: fixed;
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(70, 123, 157);
  color: #f1faee;
  background-color: var(--nav-color);
  margin-right: 10vw;
  margin-left: 10vw;
  margin-top: 10vh;
  height: 40%;
  padding: 16px;
  overflow: auto;
}

/*
@media (orientation: portrait) {
  #about {
    top: 25%;
  }
}

@media (orientation: landscape) {
  #about {
    top: 30%;
    height: 40%;
  }
}
*/
