#bottom {
  position: fixed;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  bottom: 0;
  width: 100vw;
  height: 50px;
  background-color: #e63946;
}

#mondai-button {
  display: none;
  margin-right: 10px;
}
#mondai {
  font-size: 26px;
  color: #f1faee;
  padding-left: 10px;
}

@media (orientation: landscape) {
  #mondai {
    font-size: 26px;
  }
  #bottom {
  }
}

@media (orientation: portrait) {
  #mondai {
    font-size: 16px;
  }
  #bottom {
  }
}
