#bottom {
  position: fixed;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  bottom: 0;
  /*top: calc(var(--vh, 1vh) * 100);
  
  top: 100vh;
  */
  margin-top: -50px;
  width: 100vw;
  background-color: #e63946;
  overflow: auto;
}
#mondai-button {
  display: none;
  margin-right: 10px;
}

@media only screen and (max-width: 400px) {
  #mondai-button {
    font-size: 10px;
    width: 50px;
  }
}
#mondai {
  font-size: 26px;
  color: #f1faee;
  padding-left: 10px;
}

@media (orientation: landscape) {
  #mondai {
    font-size: 26px;
  }
}

@media (orientation: portrait) {
  #mondai {
    font-size: 16px;
  }
}
