#canvas {
  touch-action: none;
  width: calc(100vw - 120px);
  height: calc(100vh - 150px);
  position: relative;
  top: 15px;
  left: 60px;
  background-color: #a8dadc;
  border-radius: 16px;
  cursor: url('./assets/fude-cursor.png'), auto;
  border-style: solid;
  border-color: rgb(70, 123, 157);
  box-shadow: 3px 6px rgba(100, 100, 100, 0.3);
}
#stats {
  background-color: transparent;
  position: absolute;
  color: #1d3557;
  text-align: right;
  top: 40px;
  right: 80px;
  z-index: 3;
}

@media only screen and (max-width: 1000px) {
  #canvas {
    left: 30px;
    width: calc(100vw - 60px);
  }
  #stats {
    right: -10px;
    top: 20px;
  }
}

@media only screen and (max-width: 600px) {
  #stats {
    right: -10px;
    top: 20px;
  }
}
