#canvas {
  width: calc(100vw - 120px);
  height: calc(100vh - 150px);
  position: relative;
  top: 20px;
  left: 60px;
  background-color: rgba(12, 13, 14, 0.5);
  border-radius: 16px;
  cursor: url('./assets/fude-cursor.png'), auto;
}
#stats {
  background-color: rgba(12, 13, 14, 0);
  position: absolute;
  color: powderblue;
  text-align: right;
  top: 40px;
  right: 20px;
  z-index: 3;
}

@media only screen and (max-width: 900px) {
  #canvas {
    left: 30px;
    width: calc(100vw - 60px);
  }
  #stats {
    right: 40px;
  }
}
