@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#check-answer {
  position: fixed;
  display: none;
  top: 70px;
  left: 10px;
  right: 10px;
  bottom: 60px;
  padding: 16px;
  background-color: #a8dadc;
  color: #f1faee;
  border-radius: 10px;
  border-style: ridge;
  border-color: rgb(70, 123, 157);
  animation: fadeIn 0.3s;
  z-index: 100;
  overflow: auto;
}

#right-or-wrong{
  width: 100%;
  margin-top: 10px;
  display: block;
  display: grid;
  grid-template-columns: 1fr 1fr;
  
  
}


#maru{
  grid-column-start: 1;
  grid-column-end: 2;
  border-radius: 10px;
  font-size: 42px;
  background-color: #f1faee;
}

#batsu{
  grid-column-start: 2;
  grid-column-end: 5;
   border-radius: 10px;
  font-size: 42px;
  background-color: #f1faee;
}



#answers {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
#kanji_answer {
  background-color: #f1faee;
  display: block;
  color: #1d3557;
  font-size: 58px;
  text-align: center;
  border-radius: 10px;
  border-style: ridge;
  border-color: rgb(70, 123, 157);
  overflow: auto;
}

#your-drawing {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  background-color: #f1faee;
  border-style: ridge;
  border-color: rgb(70, 123, 157);
  margin-left: 20px;
}


@media only screen and (max-width: 1200px) and (orientation: portrait) {
  #kanji_answer {
    writing-mode: vertical-rl;
    text-orientation: upright;
    width: 40%;
    height: 40vh;
  }
  #your-drawing {
    width: 40%;
    height: 40vh;
  }
}

@media only screen and (max-width: 5000px) and (orientation: landscape) {
  #kanji_answer {
    writing-mode: sideways-lr;
    text-orientation: upright;
    width: 45%;
    height: 30vh;
  }
  #your-drawing {
    width: 45%;
    height: 30vh;
  }
}


@media only screen and (max-height: 390px) {
  #check-answer {
    bottom: 0;
    top: 60px;
    left: 0;
    right: 0;
  }
  
}

@media only screen and (min-height: 500px){
  #right-or-wrong{
    margin-top: 70px;
  }
}
