@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#check-answer {
  position: fixed;
  display: none;
  top: 25%;
  left: 50%;
  width: 330px;
  height: 160px;
  padding: 16px;
  margin-left: -182px;
  background-color: #e63946;
  color: #f1faee;
  border-radius: 10px;
  border-style: ridge;
  border-color: rgb(70, 123, 157);
  animation: fadeIn 0.3s;
}

.maru-batsu {
  position: relative;
  background-color: #f1faee;
  border-radius: 10px;
  font-size: 32px;
  margin: 10px;
}

.maru-batsu:hover {
  background-color: #a8dadc;
}

#right-or-wrong {
  position: relative;
  display: flex;
  justify-content: center;
  top: -100px;
}

#answers {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
#kanji_answer {
  background-color: #f1faee;
  display: block;
  color: #1d3557;
  font-size: 58px;
  text-align: center;
  border-radius: 10px;
  border-style: ridge;
  border-color: rgb(70, 123, 157);
}

#your-drawing {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  background-color: #f1faee;
  border-style: ridge;
  border-color: rgb(70, 123, 157);
  margin-left: 20px;
}

@media (orientation: portrait) {
  #check-answer {
    height: 260px;
  }
  #kanji_answer {
    writing-mode: vertical-rl;
    text-orientation: upright;
    width: 100px;
    height: 170px;
  }
  #your-drawing {
    width: 100px;
    height: 170px;
  }
  .maru-batsu {
    top: 110px;
  }
}

@media (orientation: landscape) {
  #kanji_answer {
    writing-mode: sideways-lr;
    text-orientation: upright;
    width: 170px;
    height: 100px;
  }
  #your-drawing {
    width: 170px;
    height: 100px;
  }
  .maru-batsu {
    top: 100px;
  }
}
