@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#check-answer {
  position: fixed;
  display: none;
  top: 70px;
  left: 10px;
  right: 10px;
  bottom: 60px;
  padding: 16px;
  background-color: #a8dadc;
  color: #f1faee;
  border-radius: 10px;
  border-style: ridge;
  border-color: rgb(70, 123, 157);
  animation: fadeIn 0.3s;
  z-index: 100;
  overflow: auto;
}

.maru-batsu {
  position: relative;
  background-color: #f1faee;
  border-radius: 10px;
  font-size: 32px;
  margin: 10px;
  width: 120px;
}

.maru-batsu:hover {
  background-color: rgb(70, 123, 157);
}

#right-or-wrong {
  display: flex;
  justify-content: center;
  margin-top: 8%;
}

#answers {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
#kanji_answer {
  background-color: #f1faee;
  display: block;
  color: #1d3557;
  font-size: 58px;
  text-align: center;
  border-radius: 10px;
  border-style: ridge;
  border-color: rgb(70, 123, 157);
  overflow: auto;
}

#your-drawing {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  background-color: #f1faee;
  border-style: ridge;
  border-color: rgb(70, 123, 157);
  margin-left: 20px;
}
@media only screen and (max-width: 280px) {
  .maru-batsu {
    font-size: 16px;
    width: 80px;
  }
}

@media only screen and (max-width: 1200px) and (orientation: portrait) {
  #kanji_answer {
    writing-mode: vertical-rl;
    text-orientation: upright;
    width: 40%;
    height: 40vh;
  }
  #your-drawing {
    width: 40%;
    height: 40vh;
  }
}

@media only screen and (max-width: 1200px) and (orientation: landscape) {
  #kanji_answer {
    writing-mode: sideways-lr;
    text-orientation: upright;
    width: 45%;
    height: 30vh;
  }
  #your-drawing {
    width: 45%;
    height: 30vh;
  }
}

@media only screen and (max-height: 390px) {
  #right-or-wrong {
    margin-top: -5px;
  }
}
@media only screen and (max-height: 304px) {
  #check-answer {
    bottom: 0;
    top: 60px;
    left: 0;
    right: 0;
  }
  #right-or-wrong {
    margin-top: -5px;
  }
}
