#hints {
  position: fixed;
  border-radius: 50%;
  background-color: rgba(40, 40, 40, 0.3);
  color: #f1faee;
  width: 100px;
  height: 100px;
  text-align: center;
  z-index: 100;
  /*
  top: calc(var(--vh, 1vh) * 65);
  */
  bottom: 100px;
  left: 30px;
  font-size: 18px;
  opacity: 0;

  animation-duration: 9s;
}

#point-hand {
  position: relative;
  left: 50px;
  top: -55px;
  font-size: 42px;
  transform: rotate(-30deg);
}
#point-down {
  position: relative;
  left: -20px;
  top: -60px;
  font-size: 42px;
  transform: rotate(110deg);
}
@keyframes grow {
  0% {
    font-size: 0px;
    opacity: 0;
  }
  20% {
    font-size: 18px;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*
@media (orientation: landscape) {
  #hints {
    top: calc(var(--vh, 1vh) * 50);
  }
}

*/
