#nav-bar {
  width: 100vw;
  height: 60px;
  background-color: #e63946;
  color: #f1faee;
  display: inline-flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 2px;
}

#left-stuff {
  display: flex;
  align-items: center;
  width: 30%;
  justify-content: space-around;
  margin-left: 10px;
}

@media only screen and (max-width: 600px) and (min-width:400px){
  #left-stuff {
    width: 40%;
  }
}
@media only screen and (max-width: 399px){
  #left-stuff {
    width: 70%;
  }
}

#logo {
  font-size: 38;
}




#big-mac {
  margin-right: 10px;
  display: none;
}

#big-mac:hover .slice {
  background-color: rgb(70, 123, 157);
  transition: background-color 0.1s ease-in;
}

.slice {
  height: 3px;
  width: 22px;
  margin: 6px 0px 6px 0px;
  background-color: #f1faee;
  border-radius: 20%;
}

@media only screen and (max-width: 1200px) {
  #big-mac {
    display: block;
  }
}
