#nav-bar {
  width: 100vw;
  height: 60px;
  background-color: var(--nav-color);
  color: snow;
  display: inline-flex;
  align-items: flex-end;
  justify-content: space-between;
}

#bar-stuff {
  margin-left: 10px;
  display: flex;
  align-items: flex-end;
  width: 60%;
}

.bar-stuff-item {
  margin-right: 10%;
}

#logo {
  font-size: 38;
}
#brush-div {
  display: flex;
  flex-direction: column;
}
#brush-label {
  text-align: center;
}
#brush-image {
  width: 20px;
  height: 20px;
}

#big-mac {
  margin-right: 4px;
  display: none;
}

#big-mac:hover .slice {
  background-color: powderblue;
  transition: background-color 0.2s ease-in;
}

.slice {
  height: 3px;
  width: 22px;
  margin: 6px 0px 6px 0px;
  background-color: snow;
  border-radius: 20%;
}

@media only screen and (max-width: 900px) {
  #nav-bar {
  }
  #big-mac {
    display: block;
  }
}
