@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#study-set-selector {
  z-index: 150;
  position: fixed;
  display: none;
  width: 340px;
  height: 198px;
  top: 24%;
  left: 50%;
  margin-left: -170px;
  background-color: #e63946;
  border-style: ridge;
  border-color: rgb(70, 123, 157);
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  border-radius: 10px;
  border-style: ridge;
  animation: fadeIn 0.3s;
}

.set-selector {
  margin: 10px;
}

#set-selector-closer {
  background-color: transparent;
  position: sticky;
  color: #f1faee;

  top: 8px;
  left: 85%;
  cursor: pointer;
  border-style: none;
  font-size: 24px;
}

#set-selector-closer:hover {
  color: #a8dadc;
  font-size: 28px;
  transition: color 0.3s, font-size 0.3s;
}

.list-seperate {
  width: 90%;
  height: 2px;
  background-color: #f1faee;
  border-radius: 50%;
}

@media (orientation: portrait) {
  #study-set-selector {
    height: 350px;
  }
}
