@import url(components/navbar.css);
@import url(components/background.css);
@import url(components/buttons.css);
@import url(components/range.css);
@import url(components/canvas.css);
@import url(components/tools.css);
@import url(components/bottom.css);
@import url(components/select.css);
@import url(components/check-answer.css);
@import url(components/editor-styles.css);
@import url(components/forms.css);
@import url(components/create-new-set.css);
@import url(components/about.css);
@import url(components/hints.css);
@import url(components/game-finished.css);
@import url(components/greeting.css);
@import url(components/practice.css);
@import url(components/settings.css);
@import url(components/example-display.css);
@import url(components/video.css);


:root {
  --nav-color: #e63946; /* define global variable in root */
}

* {
  margin: 0px;
  user-select: none;
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
  font-family: 'Dosis', sans-serif;
}
/*
blocking text selection like above creates problems for input forms so need to do like below. 
*/
input,
input:before,
input:after {
  user-select: initial;
  -webkit-user-select: initial;
  -khtml-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}

#main {
  position: absolute;
}

/*  Bad idea? Did this to keep page from scrolling unexpectedly when drawing. */
body {
  position: fixed;
  background-color: #e63946;

  top: 0;
  left: 0px;
}

ul {
  list-style: none;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  pointer-events: none;
}



@font-face {
  font-family: 'umeboshi';
  src: url(assets/umeboshi_.woff) format('woff'), url(assets/umeboshi.woff2) format('woff2'),
    url(assets/umeboshi_.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
