@import url(navbar.css);
@import url(background.css);
@import url(buttons.css);
@import url(range.css);
@import url(canvas.css);
@import url(tools.css);
@import url(bottom.css);
@import url(select.css);
@import url(check-answer.css);
@import url(editor-styles.css);
@import url(forms.css);
@import url(create-new-set.css);
@import url(about.css);
@import url(hints.css);
@import url(game-finished.css);

:root {
  --nav-color: #e63946; /* define global variable in root */
}

* {
  margin: 0px;
  user-select: none;
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
  font-family: 'Dosis', sans-serif;
}
/*
blocking text selection like above creates problems for input forms so need to do like below. 
*/
input,
input:before,
input:after {
  user-select: initial;
  -webkit-user-select: initial;
  -khtml-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}

#main {
  position: absolute;
}

/*  Bad idea? Did this to keep page from scrolling unexpectedly when drawing. */
body {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}

ul {
  list-style: none;
}
